@tailwind base;
@tailwind components;
@tailwind utilities;

input:disabled {

    cursor: not-allowed;
    opacity: .6;
    
    
}

.navlink{
    padding: 10px 20px;
    color:white
}
.navlink.active{
    background-color: white;
    
    color:violet;
    border-radius: 10px;
    
}
.react-pdf__Page__canvas {
    margin: 0 auto;
    width: 80% !important;
    height: "100px" !important;
   
}

.react-pdf__Page__annotations{
    height:0 !important;
  
}